<div class="row container mt-4">
    <div class="col-3">
        <!-- <h2>Busquedas</h2>
        <hr>
        <ul class="list-group">
            <li class="list-group-item list-group-item-action" routerLink="" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                Buscar país
            </li>
            <li class="list-group-item list-group-item-action" routerLink="region" routerLinkActive="active">Por region
            </li>
            <li class="list-group-item list-group-item-action" routerLink="capital" routerLinkActive="active">
                Por capital
            </li>
        </ul> -->
        <app-sidebar></app-sidebar>
    </div>


    <div class="col">
        <router-outlet></router-outlet>
    </div>

</div>